{% extends "layout.html" %}

{% block head %}

<title> Portfolio - Anderson Teala</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}

{% block content %}


<div id="wrapper">
            <h1>Aulas</h1>
        </div>

        <section class="cards">
            
            <div class="card" id="XcU9GEUZTQA">
                <div class="card__image-container">
                    <img src="https://blogatnteala.sentidoconsultoria.com.br/wp-content/uploads/2020/10/1.png" alt="github">
                </div>
                <div class="class_content">
                    <p>Aprenda Git e Github na prática | Anderson Teala</p>
                </div>
                <div class="card__info">
                    <p>57 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>

            <div class="card" id="XcU9GEUZTQA">
                <div class="card__image-container">
                    <img src="https://blogatnteala.sentidoconsultoria.com.br/wp-content/uploads/2020/10/css.png" alt="CSS">
                </div>
                <div class="class_content">
                    <p>Aprenda CSS na prática | Anderson Teala</p>
                </div>
                <div class="card__info">
                    <p>37 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>

            <div class="card" id="XcU9GEUZTQA">
                <div class="card__image-container">
                    <img src="https://blogatnteala.sentidoconsultoria.com.br/wp-content/uploads/2020/10/html.png" alt="html">
                </div>
                <div class="class_content">
                    <p>Aprenda HTML 5 na prática | Anderson Teala</p>
                </div>
                <div class="card__info">
                    <p>42 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>

            <div class="card" id="XcU9GEUZTQA">
                <div class="card__image-container">
                    <img src="https://blogatnteala.sentidoconsultoria.com.br/wp-content/uploads/2020/10/node.png" alt="node">
                </div>
                <div class="class_content">
                    <p>Aprenda Node.JS na prática | Anderson Teala</p>
                </div>
                <div class="card__info">
                    <p>37 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>

            <div class="card" id="XcU9GEUZTQA">
                <div class="card__image-container">
                    <img src="https://blogatnteala.sentidoconsultoria.com.br/wp-content/uploads/2020/10/5.png" alt="python">
                </div>
                <div class="class_content">
                    <p>Aprenda Python na prática | Anderson Teala</p>
                </div>
                <div class="card__info">
                    <p>77 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>

            <div class="card" id="XcU9GEUZTQA">
                <div class="card__image-container">
                    <img src="https://blogatnteala.sentidoconsultoria.com.br/wp-content/uploads/2020/10/react.png" alt="react">
                </div>
                <div class="class_content">
                    <p>Aprenda React.JS na prática | Anderson Teala</p>
                </div>
                <div class="card__info">
                    <p>57 min</p>
                    <p class="card__price">Free</p>
                </div>
            </div>

        </section>


        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>

            </div>
        </div>


        <script src="scripts.js"></script>

{% endblock %}